* {
    margin: 0; padding: 0;
}
html, body, #container {
    height: 100%;
}
main {
    height: calc(100% - 97px);
}
.half {
    height: 50%;
    margin-right: 15px;
    margin-left: 15px;
    border: 15px solid transparent;
}
.half:first-child {
    background-color: #DFDFDF;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30 px;

}
.half:last-child {
    background-color: #DDD111;
    margin-bottom: 15px;
}
.phrase {
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

.liste
    {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 5px;
    margin-left: 0px;
    padding-right: 5px
    }