@(message: String)

@main("Translation Chooser") {

<main>
    <section class="half">
        <div class="container-fluid">
                        <span class="phrase">
                Début de la phrase phrase phrase et voilà &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span class="phrase">
                <ul>
                    <li>Premier</li>
                    <li>deuxième</li>
                    <li>troisisème</li>
                </ul>
            </span>
            <span class="phrase">
            &nbsp;&nbsp;&nbsp;et fin de la phrase ici.
                </span>
            </div>

    </section>
    <section class="half">
        <div class="container-fluid">
        <span>test</span>
        </div>
    </section>
</main>



}
