@(message: String)

@main("Translation Chooser") {

<main>
    <section class="half">
        <div class="container-fluid">
            <button type="button" onclick="creeAlternative();">Créer une alternative à la sélection</button><br>
            <span class="phrase" id="source">
                Je dis bonjour à &nbsp;
            </span>
            <span class="liste">
                <ul>
                    <li>tout le monde</li>
                    <li>Jacob</li>
                    <li>Pauline</li>
                </ul>
            </span>
            <span id="zozo">
            &nbsp; et je m'en vais. Mais &nbsp;
            </span>
            <span class="liste">
                <ul>
                    <li>que se passe-t-il ?</li>
                    <li>que m'arrive-t-il ?</li>
                </ul>
            </span>
            <span class="phrase">
                &nbsp; Je ne suis pas certain que &nbsp;
            </span>
            <span class="liste" id="testpropositions">
                l'utilisation d'une liste soit nécessaire<br>
                nous soyons obligés de passer par les listes
            </span><button type="button" onclick="ajouteProposition('testpropositions');">+</button>
            <span class="phrase">
                . Est-ce nuisible &agrave; la lecture du reste du texte ?
            </span>
    </div>

    </section>
    <section class="half">
        <div class="container-fluid">
        <span id="toto">test</span>
        </div>
    </section>
</main>



}
