@(message: String)

@main("Translation Chooser") {

<main>
    <section class="half">
        <div class="container-fluid editor">
            Here we have text.

            <table>
                <tr>
                    <td rowspan="3">
                        Ici la phrase normale et tout et tout &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                       | et une proposition
                    </td>
                    <td rowspan="3">
                        &nbsp;|&nbsp;&nbsp;et on reprend le cours normal
                    </td>
                 </tr>
                <tr>
                    <td>
                       | mais arrive une proposition
                    </td>
                </tr>
                <tr>
                    <td>
                       | et paf
                    </td>

                </tr>
            </table>
        </div>
    </section>
    <section class="half">
        <div class="container-fluid">
            And more text here. Niak niak niak.
        </div>
    </section>
</main>



}
